body, html {
  margin: 0;
  padding: 0;
}

header {
  text-align: left;
  padding: 100px 20px;
  color: #ffffff;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden; 
}

header h1 {
  font-size: 2em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #ffffff;
}

.header-subtitle {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: #ffffff;
  animation: bounce 3s infinite;
  cursor: pointer;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  padding: 3px;
  border-radius: 15%;
  border: 2px solid transparent;
}

.arrow:hover {
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  transform: translateX(-50%) translateY(-5px);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-20px);
  }
  60% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.home-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
}

.home-info-text {
  max-width: 100%;
  text-align: left;
}

.home-info-text h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.home-info-text p {
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 1.6;
  color: black;
}

.learn-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(46, 1, 1, 0.9);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s;
  position: relative;
  cursor: pointer;
}

.learn-more:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  transition: all 0.5s;
}

.learn-more:hover {
  background-color: rgba(46, 1, 1, 0.8);
  padding-right: 28px;
  padding-left: 12px;
}

.learn-more:hover:after {
  opacity: 1;
  right: 10px;
}

.home-info-image-container {
  position: relative;
  max-width: 100%;
  text-align: left;
  margin-top: 20px;
  cursor: pointer;
}

.home-info-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px rgba(46, 1, 1, 0.9), 8px 8px 0px 0px rgba(46, 1, 1, 0.9);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.home-info-image:hover {
  transform: scale(1.00);
  filter: brightness(70%) sepia(1) hue-rotate(180deg);
}

.home-info-image-container .photo-credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.home-info-image-container:hover .photo-credit {
  opacity: 1;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  animation: fade-in 0.5s ease-in-out;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .home-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 50px;
  }

  .home-info-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
  }

  .home-info-image-container {
    flex: 1;
    max-width: 40%;
    text-align: left;
    margin-right: 10%;
  }

  .home-info-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }

  .learn-more {
    font-size: 1em;
  }
}
