@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

@font-face {
  font-family: 'Hogarth Script';
  src: url('./assets/Font/HogarthScript.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4); 
  color: #f0f0f0;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

nav h3 {
  margin: 0;
  padding: 5px 0;
  font-family: 'Hogarth Script', cursive;
  font-size: 2.4em;
  margin-left: 1%;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  margin-right: 10%;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #810606; 
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover:after {
  width: 100%;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 30px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Style for when the menu is open */
.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Mobile menu styles */
@media (max-width: 600px) {
  .hamburger {
    display: flex;
    justify-content: flex-end;
  }

  nav h3 {
    padding-left: 20px; 
  }

  nav ul {
    flex-direction: column;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: flex-start;
    padding-top: 60px;
    
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
  }

  nav ul li a {
    padding: 10px 20px; 
    width: 100%;
    display: block;
  }
}

header {
  text-align: center;
  padding: 150px 20px;
  color: #ffffff;
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 2.5em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #ffffff;
}

.header-subtitle {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: #ffffff;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

section {
  padding: 60px 20px;
  min-height: 100vh;
  margin-top: 50px;
}

#about, #portfolio, #contact {
  color: #f0f0f0;
}

#contact {
  background-color: #333;
  color: #f0f0f0;
  padding: 40px 20px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info, .contact-form {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.contact-info h3, .contact-form h3 {
  margin-bottom: 20px;
  color: #f0f0f0;
}

.contact-info p {
  margin: 5px 0;
  color: #f0f0f0;
}

.contact-form label {
  display: block;
  margin-top: 10px;
  color: #f0f0f0;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444;
  color: #f0f0f0;
}

.contact-form button {
  background-color: #c39b77;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #a67c52;
}

#contact p {
  text-align: center;
  margin-top: 20px;
  color: #f0f0f0;
}

#contact a {
  color: #c39b77;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
