@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

@font-face {
  font-family: 'Hogarth Script';
  src: url('./assets/Font/HogarthScript.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4); 
  color: #f0f0f0;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

nav h3 {
  margin: 0;
  padding: 5px 0;
  font-family: 'Hogarth Script', cursive;
  font-size: 2.4em;
  margin-left: 1em;
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  margin-right: 10%;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #a67c52; 
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover:after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 20px; 
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (max-width: 600px) {
  .hamburger {
    display: flex; 
  }
  nav {
    background-color: rgba(0, 0, 0, 0.8);
  }

  nav h3 {
    top: 10%; 
    margin-top: 3%;
    margin-right: 30%;
  }

  nav ul {
    flex-direction: column;
    width: 40%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: flex-start;
    padding-top: 70px;
  }

  nav ul.active {
    display:flex;
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
  }

  nav ul li a {
    padding: 10px 20px; 
    width: 100%;
    display: block;
  }
}

@media (max-width: 1024px) {
  nav h3 {
    font-size: 2em;  
  }
}

@media (max-width: 768px) {
  nav h3 {
    font-size: 1.9em;   
  }
}

@media (max-width: 480px) {
  nav h3 {
    font-size: 1.8em;  
  }
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
